/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
:root {
	--color-main-background: #ffffff;
	--color-primary-color: #000000;
	--color-page-background: #f6f8f9;
	--color-editorial: #09a9ed;
	--color-goals: #ab5de6;
	--color-recruiting: #2cc6ab;
	--color-mobile: #ff9b00;
	--color-website: #ec4a9d;
	--color-red-circle: #ff5050;
	--color-sales: #a3d116;
    --padding: 20px;
}
body {
    font-family: 'Roboto', Arial;
    background-color: var(--color-page-background);
}

ul {
    list-style: none;
}
li {
    padding: 10px 0;
}

/* header */
header {
    background-color:var(--color-main-background);
    padding: var(--padding);
}

header .title, header img{
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
}

/* main */
main {
    max-width: 1200px;
    margin: 30px auto;
    background-color:var(--color-main-background);
    border-radius: 10px;  
}
.buttons {
    border-bottom: 2px solid var(--color-page-background);
}
.tasks ul li h3, 
.tasks ul li span {
    display: inline-block;
}
.btn {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: var(--color-main-background);
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
}
.btn.blue {
    background-color: var(--color-editorial);
    color: white;
    border: 1px solid var(--color-editorial);
}
.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin: 0 10px 0 0;
}
.check {
    color: var(--color-recruiting);
    border: 1px solid var(--color-recruiting);
}
.cross {
    color: var(--color-red-circle);
    border: 1px solid var(--color-red-circle);
}

/* badge */
.badge {
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 10px;
    color: white;
    margin-left: 10px;
}
.editorial {
    background-color: var(--color-editorial);
}
.goals {
    background-color: var(--color-goals);
}
.recruiting {
    background-color: var(--color-recruiting)
}
.mobile {
    background-color: var(--color-mobile);
}
.website {
    background-color: var(--color-editorial);
}
.sales {
    background-color: var(--color-sales);
}


/* utility*/
.default-pad {
    padding: var(--padding);
}