/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', Arial;
    background-color: #F6F8F9;
}

/* header */
header {
    background-color: white;
}
.title{
    display: inline-block;
}

/* main */
main {
    height: 100%;
    padding-top: 50px;
}

/* table */
.head-box {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}
.body-box {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-left: 5px;
}
.small{
    border-bottom: 2px solid #F7F9FA;
}
.bg-color-blue {
    background-color: #47ADF1;
    color: white;
}
.bg-color-purple {
    background-color: #9C72E4;
    color: white;
}
.bg-color-purple2 {
    background-color: #D863A0;
    color: white;
}
.bg-color-green2 {
    background-color: #64C0A9;
    color: white;
}
.bg-color-orange {
    background-color: #F29E33;
    color: white;
}
.bg-color-green {
    background-color: #B0C926;
    color: white;
}
.border-color-grey {
    border: 1px solid #bcbcbc;
}

/* nav */
nav {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    max-height: 100%;
}
.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.check {
    color: #11b40b;
    text-align: center;
    border: 1px solid #11b40b;
}

.unchecked {
    color: #ff1100;
    text-align: center;
    border: 1px solid #ff1100;
}
